<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<script type="text/javascript" src="/static/vendor/js/angular.js"></script>
	<script type="text/javascript" src="/static/vendor/js/angular-route.js"></script>
	<script type="text/javascript" src="/static/app/js/main.js"></script>
</head>
<body>
	<h1>Primer</h1>
	<div ng-app="wafepaApp">
		<div ng-view>
		</div>
<!-- 		<div ng-controller="myCtrl">
			Text in controller: {{text}}<br />
			<button ng-click="sayHello()">say hello</button><br />
			<input ng-model="poruka"><br />
			Uneta je poruka: {{poruka}}<br />
			<input ng-model="poruka"><br />
		</div>
		<hr />
		<div ng-controller="myCtrl1">
			{{text}}
			<div ng-controller="innerCtrl">
				{{text}}
				<input ng-model="text"><br />
			</div>
		</div>
	-->	
</div>
</body>
</html>