<h1>Nekretnina</h1>
<div ng-controller="nekretninaCtrl">
	<form>
		<label for="povrsina">povrsina:</label><input id="povrsina" class="form-control" type="text" ng-model="nekretnina.povrsina"><br />
		<label for="adresa">adresa:</label><input id="adresa" class="form-control" type="text" ng-model="nekretnina.adresa"><br />
		<label for="cena">cena:</label><input id="cena" class="form-control" type="text" ng-model="nekretnina.cena"><br />
		<label for="tipNekretnine">tip nekretnine:</label><select id="tipNekretnine" class="form-control" ng-model="nekretnina.tipNekretnine.id">
			<option ng-repeat="tipNekretnine in tipoviNekretnine" value="{{ tipNekretnine.id }}" ng-selected="selected(tipNekretnine.id, nekretnina.tipNekretnine.id)">{{ tipNekretnine.naziv }}</option>
		</select>
		<br />		
		<button class="btn btn-primary" ng-disabled="!nekretnina.povrsina" ng-click="sacuvaj()">sacuvaj</button>
		<button class="btn btn-primary" ng-disabled="!nekretnina.povrsina" ng-click="reset()">reset</button>
	</form>	
</div>	