<h1>Activities</h1>
<div ng-controller="activitiesCtrl">
	<form>
		<label for="name">name:</label><input id="name" class="form-control" type="text" ng-model="activity.name"><br />
		<label for="name">user id:</label><input id="userId" class="form-control" type="text" ng-model="activity.user.id"><br />
		<button class="btn btn-primary" ng-click="sacuvaj()">sacuvaj</button>
	</form>
	<hr />
	<form>
		<label for="filter">name:</label><input class="form-control" id="filter" type="text" ng-model="filterActivity.name"><br />
		<button class="btn btn-primary" ng-click="filtriraj()">filtriraj</button>
	</form>
	<hr />
	<div ng-if="prikazUser">
		<form>
			<label for="email">e-mail: </label><input id="email" class="form-control" type="text" ng-model="activity.user.email"><br />
			<label for="firstname">first name: </label><input id="firstname" class="form-control" type="text" ng-model="activity.user.firstname"><br />
			<label for="lastname">last name: </label><input id="lastname" class="form-control" type="text" ng-model="activity.user.lastname"><br />	
			<label for="password">password: </label><input id="password" class="form-control" type="password" ng-model="activity.user.password"><br />
			<label for="confirmpassword">confirm password: </label><input id="confirmpassword" class="form-control" type="password" ng-model="activity.user.passwordConfirm"><br />	
			<button class="btn btn-success" ng-click="sacuvaj()">sacuvaj</button>
			<button class="btn btn-danger" ng-click="brisiUserAktivnost()">brisi</button>
			<button class="btn btn-primary" ng-click="zatvori()">zatvori</button>		
		</form>
		<hr />
	</div>
	<form>
	<div class="form-group" ng-if="prikazSelectUser">
		<label for="user">user: </label><select class="form-control" id="sel1">
			<option ng-repeat="user in users" value="{user.id}}">{{user.firstname}} {{activity.user.lastname}}</option> 
		</select>	
	</div>	
	</form>
	<div class="btn-group pull-right">
		<button ng-disabled="brojacStranice<=0" ng-click="changePage(-1)" class="btn btn-primary">prev</button>
		<button ng-disabled="brojacStranice>=totalPages-1" ng-click="changePage(1)" class="btn btn-primary">next</button>
	</div>		
	<table class="table table-bordered table-striped">
		<tr>
			<th>id</th>
			<th>name</th>
			<th>user</th>
			<th>action</th>
		</tr>
		<tr ng-repeat="activity in activities">
			<td>{{activity.id}}</td>
			<td>{{activity.name}}</td>
			<td>{{activity.user.firstname}} {{activity.user.lastname}}<br />
				{{getAddressAsString(activity.user)}}</span></td>
			<td>			
				<button class="btn btn-danger" ng-click="brisanje(activity.id)">delete</button>
				<button class="btn btn-success" ng-click="postaviAktivnost(activity)">edit</button>
				<button class="btn btn-success" ng-click="postaviAktivnostNaStranici(activity)">editInNewPage</button>
				<button class="btn btn-warning" ng-click="izmeniPodatkeUser(activity.user)">editUser</button>
				<button class="btn btn-warning" ng-click="postaviNoviUser(activity)">changeUser</button>
			</td>
		</tr>
	</table>
</div>