<div ng-controller="usersCtrl">
<h1>Users <span class="badge">{{users.length}}</span></h1>
	<form>
		<label for="email">e-mail: </label><input id="email" class="form-control" type="text" ng-model="user.email"><br />
		<label for="firstname">first name: </label><input id="firstname" class="form-control" type="text" ng-model="user.firstname"><br />
		<label for="lastname">last name: </label><input id="lastname" class="form-control" type="text" ng-model="user.lastname"><br />		
		<label for="password">password: </label><input id="password" class="form-control" type="password" ng-model="user.password"><br />
		<label for="confirmpassword">confirm password: </label><input id="confirmpassword" class="form-control" type="password" ng-model="user.passwordConfirm"><br />
		<button class="btn btn-primary" ng-click="sacuvaj()">sacuvaj</button>
		<button class="btn btn-primary" ng-click="reset()">reset</button>
	</form>
	<hr />
	<form>
		<label for="filter">last name: </label><input id="filter" class="form-control" type="text" ng-model="filterUser.lastname"><br />		
		<button class="btn btn-primary" ng-click="filtriraj()">filtriraj</button>
	</form>
	<hr />
	<table class="table table-bordered table-striped">
		<tr ng-repeat="user in users">
			<td>{{user.id}}</td>
			<td>{{user.firstname}}</td>
			<td>{{user.lastname}}</td>
			<td>{{user.email}}</td>
			<td>
			<button class="btn btn-danger" ng-click="brisanje(user.id)">delete</button>
			<button class="btn btn-success" ng-click="postaviUser(user)">edit</button>
			<button class="btn btn-success" ng-click="postaviUserNaStranici(user)">editInNewPage</button>
			</td>
		</tr>
	</table>
</div>